h1,
h2 {
  font-family: Lato;
}

#floorContainer {
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;
  gap: 3px;
  justify-content: start;
  align-items: center;
}

.floors {
  display: flex;
  gap: 2px;
  background-color: lightgrey;
  width: 95vw;
  height: 100px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.liftContainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 6px;
}
.lift {
  width: 50px;
  height: 80px;
  background-color: burlywood;
  position: relative;
  overflow: hidden;
}


.leftDoor{
  position: absolute;
  border-right: 2px solid black;
  width: 50%;
  height: 100%;
  left: 0;
  background-color: blue;
}

.rightDoor{
  position: absolute;
  border-left: 2px solid black;
  width: 50%;
  height: 100%;
  right: 0;
  background-color: blue;
  
}

 .openLeft{
  animation: openLeftDoor 2.5s ;
}

.openRight{
  animation: openRightDoor 2.5s ;
}

 .closeLeft{
  animation: closeLeftDoor 2.5s;
}

.closeRight{
  animation: closeRightDoor 2.5s;
}

@keyframes openLeftDoor {
  from{left: 0;}
  to{left:-50%}
}

@keyframes openRightDoor {
  from{right: 0}
  to{right: -50%}
}

@keyframes closeLeftDoor {
  from{left: -50%}
  to{left: 0}
}

@keyframes closeRightDoor {
  from{right:-50%}
  to{right:0}
}